@model IEnumerable<Assign1.Models.Cmake>

@{
    ViewData["Title"] = "Car Makes";
}

<h1></h1>
@if (User.Identity.IsAuthenticated) { 
<p>
    <a asp-action="Create">Add New Car Make</a>
</p>
}
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CmakeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CmakeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CmakeId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CmakeId">Details</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
