@model IEnumerable<Assign1.Models.Cmodel>

@{
    ViewData["Title"] = "Car Models";
}

<h1></h1>
@if (User.Identity.IsAuthenticated) { 
<p>
    <a asp-action="Create">Add New Car Model</a>
</p>
}
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarModelId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarModelId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarModelId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CarModelId">Details</a>
                </td>
             }
            </tr>
}
    </tbody>
</table>
