@model IEnumerable<Assign1.Models.Warrenty>

@{
    ViewData["Title"] = "New Warrenty Type";
}

<h1>Add NEW Warrenty Type</h1>

<p>
    <a asp-action="Create">Add New Warrenty</a>
</p>
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarrentyTerm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarrentyTerm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarrentyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WarrentyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WarrentyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
