@model IEnumerable<Assign1.Models.Warrenty>

@{
    ViewData["Title"] = "New Warrenty Type";
}

<h1>Add NEW Warrenty Type</h1>
@if (User.Identity.IsAuthenticated) { 
<p>
    <a asp-action="Create">Add New Warrenty</a>
</p>
}
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarrentyTerm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarrentyTerm)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.WarrentyId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.WarrentyId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.WarrentyId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.WarrentyId">Details</a>
                </td>
            }
                
            </tr>
}
    </tbody>
</table>
